
<style>
    .alert.actor {
        margin-bottom: 0px;
    }
</style>

<div class="content-header">
    <h1>
        Selecionar Atores
    </h1>
    <div class="breadcrumb">
        @Ajax.ActionLink("Voltar", "Index", "UserStory", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-warning" })
        @Ajax.ActionLink("Continuar", "ThirdStep", "UserStory", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="col-lg-12">
                <div>
                    <h4>Após a escolha do projeto, é necessario definir qual atores podem existir em seu projeto.</h4>
                    <p>Segue o exemplo abaixo:</p>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="col-lg-12" id="Append">
                <div class="remove col-lg-2">
                    <div class="alert postit">
                        <p class="actor"></p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="digite aqui..." id="TextActor">
                            <span class="input-group-btn">
                                <button class="btn btn-flat" id="Send">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $('#Send').click(function () {
            var input = $('#TextActor');
            var text = input.val();

            if (text != '') {
                $('.actor:last').text(text);
                $('.postit .input-group').remove();
                $('.postit:last')
                    .addClass('alert-dismissible')
                    .prepend($.parseHTML(@Helpers.PostitCloseButtonJS()));

                $('#Append').append($.parseHTML(@Helpers.PostitPlusButtonJS()));
                $('#Plus').fadeIn();
            }
        });

        // Quando apertar enter.
        $('#TextActor').keypress(function (e) {
            if (e.keyCode == 13) {
                $('#Send').click();
            }
        });

        //$('.close').click(function () {
            
        //    console.log($(this).parent('.postit').parent());
        //    $(this).parent('.postit').parent().remove();
        //})
    </script>
}