@using TCC.Domain.Entities

@{
    var user = TCC.BusinessLayer.BLUser<ETUserPublic>.GetLogged();
}

<div class="content-header">
    <h1>
        Test Tutorials
    </h1>
</div>
<div class="content">
    <h2>
        Bem-vindo ao <strong>Test Tutorials</strong>
    </h2>
    <p>
        Nossa plataforma é voltada a mostrar tutoriais de todas as metodologias e tecnicas voltadas para <strong>testes de Front-End</strong>, de modo mais interativo.
    </p>
    <p>
        Você pode fazer os tutoriais mesmo sem criar uma conta, mas o seu progresso <strong>expirará em 2 dias</strong> sem usar o site.
    </p>
    @if (user == null)
    {
        <p>
            Precisando de uma conta? <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalNewAccount">Registre-se</a>
        </p>
    }
</div>