

<style>
    .error-page p {
        font-size: 16px;
    }
</style>

<div class="content-header">
</div>
<div class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"><i class="fa fa-hand-stop-o text-yellow"></i></h2>

        <div class="error-content">
            <h2><strong>Oops! Espera um pouco...</strong></h2>
            <p>
                Você ainda não tem conta no Easy Test, então 
                <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalNewAccount">Registre-se</a> ou faça o 
                <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalLogin">Login</a> 
                para ter acesso a todo conteúdo de tutoriais de testes bem mais dinâmicos. 
            </p>
            <p>
                E seja <strong>bem-vindo</strong>.
            </p>
        </div>
    </div>
</div>