
@*<style>
    .test {
        display: inline-block;
        position: relative;
    }

    .test:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #222d32;
        opacity: 0.8;
    }
</style>
<div class="col-lg-12 test">
    <img src="http://nainacomponents.com/Naina%20Components%20Images/softwaretestinggg.jpg" />
</div>*@
