@{
    ViewBag.Title = "Início";
}

<style>
    .modal-dialog {
        width: 400px;
    }

    .modal-header {
        background-color: #3c8dbc;
        color: #ffffff;
    }
</style>

<div class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a>
        </li>
    </ul>
</div>
<div class="content">
    <h2>
        Bem-vindo ao <strong>Test Tutorials</strong>
    </h2>
    <p>
        Nossa plataforma é voltada a mostrar tutoriais de todas as metodologias e tecnicas voltadas para <strong>testes de Front-End</strong>, de modo mais interativo.
    </p>
    <p>
        Você pode fazer os tutoriais mesmo sem criar uma conta, mas o seu progresso <strong>expirará em 2 dias</strong> sem usar o site.
    </p>
    <p>
        Precisando de uma conta? <a href="#" data-toggle="modal" data-target="#ModalNewAccount">Registre-se</a>
    </p>
</div>