
<div class="container home-1">
    <div class="content-header">
        <h2>SOBRE NÓS</h2>
        <hr />
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>Robot Framework - Python</h3>
                        <p>
                            O Robot é um framework para automação de testes de aceitação.
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-grav"></i>
                    </div>
                    <a href="https://imasters.com.br/back-end/testes-web-com-robot-framework-para-python-introducao" class="small-box-footer">Veja mais <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6  col-lg-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>Capybara Test - Ruby</h3>

                        <p>Não deixe de automatizar, capybara veio para facilitar.</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-gg"></i>
                    </div>
                    <a href="https://www.sitepoint.com/basics-capybara-improving-tests/" class="small-box-footer">Veja mais <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>O futuro do teste de Software - Leia</h3>
                        <p>O que esperar do futuro da disciplina de testes ao considerar tecnologias avançadas como inteligência artificial, aprendizado de máquina e internet das coisas.</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-square-o"></i>
                    </div>
                    <a href="http://www.tecnisys.com.br/noticias/2018/o-futuro-do-teste-de-software" class="small-box-footer">Veja mais <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>QAXperience</h3>
                        <p>Você conhece o maior evento de QA do Brasil, QAXperience é um evento que acontece uma vez por ano, onde tem várias palestras sobre novas tecnologias de automatização de testes...</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-space-shuttle"></i>
                    </div>
                    <a href="https://www.qaxperience.com/" class="small-box-footer">Veja mais <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>

