@model TCC.UI.ViewsModels.Account.VMNewAccount

<!-- Modal - Criar Conta -->
<div class="modal fade login" id="ModalLogoff" name="Login">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deseja realmente sair?</h4>
            </div>
            @using (Ajax.BeginForm(
                new AjaxOptions
                {
                    Url = "/Login/Logoff",
                    HttpMethod = "POST",
                    OnComplete = "reloadPage()"
                }))
            {
                <div class="modal-body">
                    <div class="login-box-body">
                        <p><strong>Se você estiver no meio do tutorial, perderá seu progresso.</strong></p>
                        <p>Clique em "Sair", para encerrar a sessão.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger pull-left" data-dismiss="modal" value="Fechar">
                    <input type="submit" class="btn btn-primary" value="Sair">
                </div>
            }
        </div>
    </div>
</div>

