
@{
    var urlSave = "Learnboard/UserStory/SaveHistoric";
    var page = "Page_0";
}

<script type="text/javascript">
    var countP = 0;

    $(document).ready(function () {
        $('#Example').remove();
        $('#Append').append(ePlusPostit)
    });

    $('#Append').on('click', '#AddPostit', function () {
        $(this).parent().remove();
        $('#Append').append(ePostit);

        $('#Text').focus();
    });

    $('#Append').on('click', '#Send', function () {
        count();
        var input = $('#Text');
        var text = input.val();
        input.val('');

        if (text != '') {
            $('.remove-line').remove();
            $('.p:last').append($((countP == 0) ? '<h4></h4>' : '<p></p>').text(text).append(eRemoveLinePostit));

            if (countP == 1) {
                if (!$('.postit:last').hasClass('alert-dismissible')) {
                    $('.postit:last').addClass('alert-dismissible').prepend(eRemovePostit);
                }

                $('#Append').append(ePlusPostit);
                $('.postit:last .input-group').remove();
                $('.remove-line').remove();
            }
        }

        input.focus();
    });

    $('#Append').on('click', '.close', function () {
        $(this).closest('.to-remove').remove();
    });

    $('#Append').on('click', '.remove-line', function () {
        $(this).parent('p').remove();
        $('.postit:last p:last').append(eRemoveLinePostit);

        count();
    });

    $('#Append').on('keypress', '#Text', function (e) {
        if (e.keyCode == 13) {
            $('#Send').click();
        }
    });

    $('#Append').on('click', '.postit', function () {
        $('.postit').removeClass('active');
        $(this).addClass('active');
    });

    function count() {
        countP = $('.postit:last p, .postit:last h4').length;
    }

    $('#SaveButton').click(function () {
        var countActive = $('.postit.active').length;

        if (countActive == 0){
            var idProject = $('.postit.active').children('input[name=IdProject]').val();

            var data = {
                'model': {
                    'IdProject': idProject
                },
                'page': '@page'
            };

            $.ajax({
                type: 'POST',
                url: '@urlSave',
                data: data,
                success: function (data) {
                    changeContent(data);
                }
            });
        }
        else
            $('.board-message')
                .text("Selecione um projeto para salvar!")
                .fadeIn();
    });
</script>