@model ETHistoric

@using TCC.Domain.Entities

@{
    var urlSave = "Learnboard/UserStory/SaveHistoric";
    var page = "Page_1";
}

@Scripts.Render("~/Scripts/Postit")

<script type="text/javascript">
    function start() {
        $('#Append').append(ePlusPostit);
    }

    function writeLine() {
        var input = $('#Text');
        var text = input.val();
        input.val('');

        if (text != '') {
            $('.remove-line').remove();
            $('.lines:last').append($('<p></p>').text(text).append(eRemoveLinePostit));

            count();

            if (countLines > 0)
                finishCard();
        }

        input.focus();
    }

    function sendToSave(event) {
        var result = validationsByJs();

        if (result == true) {

            @Helpers.JsonToSave(Model, page)

            $('.postit', '#Append').each(function () {
                var cardLine = [];

                $(this).find('p').each(function () {
                    cardLine.push({ 'Line': $(this).text() });
                });

                data.model.Historic.CardActors.push({
                    'Id': $(this).children('#Id').val(),
                    'IdHistoric': '@Model.Id',
                    'CardLines': cardLine
                });
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '@urlSave',
                data: JSON.stringify(data),
                success: function (data) {
                    changeContent(data);
                }
            });
        }
        else
            writeMessage(result);
    }

    function count() {
        countLines = $('.postit:last p').length;
    }

    function validationsByJs() {
        if ($('.postit', '#Append').length == 0)
            return 'Escreva pelo menos um card';

        return true;
    }

    function finishCard() {
        if (!$('.postit:last').hasClass('alert-dismissible'))
            $('.postit:last').addClass('alert-dismissible').prepend(eRemovePostit);

        $('#Append').append(ePlusPostit);
        $('.postit:last .input-group').remove();
        $('.remove-line').remove();
    }

    function appendPostit(element) {
        element.parent().remove();
        $('#Append').append(ePostit);

        $('#Text').focus();
    }

    function removePostit(element) {
        element.closest('.to-remove').remove();
    }

    function removeLine(element) {
        element.parent('p').remove();
        $('.postit:last p:last').append(eRemoveLinePostit);

        count();
    }
</script>