@model ETHistoric

@using TCC.Domain.Entities
@using TCC.BusinessLayer.BusinessLayers

@{
    var urlSave = "Learnboard/UserStory/SaveHistoric";
    var page = "Page_1";
}

@Scripts.Render("~/Scripts/Postit")

<script type="text/javascript">
    function start() {
        $('#Example').remove();
        $('#Append').append(ePlusPostit);
    }

    function writeLine() {
        var input = $('#Text');
        var text = input.val();
        input.val('');

        if (text != '') {
            $('.remove-line').remove();
            $('.p:last').append($('<p></p>').text(text).append(eRemoveLinePostit));

            count();

            if (countLines > 0)
                finishCard();
        }

        input.focus();
    }

    function sendToSave() {
        var result = validationsByJs();

        if (result == true) {

            var data = {
                'model': {
                    'Id': '@Model.Id',
                    'IdProject': '@Model.IdProject',
                    'CardActors': []
                },
                'page': '@page'
            };

            $('.postit', '#Append').each(function () {
                var cardLine = [];

                $(this).find('p').each(function () {
                    cardLine.push({ 'Line': $(this).text() });
                });

                data.model.CardActors.push({ 'IdHistoric': '@Model.Id', 'CardLines': cardLine });
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '@urlSave',
                data: JSON.stringify(data),
                success: function (data) {
                    changeContent(data);
                }
            });
        }
        else
            $('.board-message')
                .text(result)
                .fadeIn();
    }

    function count() {
        countLines = $('.postit:last p, .postit:last h4').length;
    }

    function validationsByJs() {
        var countActive = $('.postit.active').length;

        if (countActive == 0)
            return 'Selecione um projeto para salvar!';

        return true;
    }

    function finishCard() {
        if (!$('.postit:last').hasClass('alert-dismissible'))
            $('.postit:last').addClass('alert-dismissible').prepend(eRemovePostit);

        $('#Append').append(ePlusPostit);
        $('.postit:last .input-group').remove();
        $('.remove-line').remove();
    }

    function appendPostit() {
        $(this).parent().remove();
        $('#Append').append(ePostit);

        $('#Text').focus();
    }

    function removePostit() {
        $(this).closest('.to-remove').remove();
    }

    function removeLine() {
        $(this).parent('p').remove();
        $('.postit:last p:last').append(eRemoveLinePostit);

        count();
    }
</script>