
@{
    var urlSave = "Learnboard/UserStory/SaveHistoric";
    var page = "Page_0";
}

@Scripts.Render("~/Scripts/Postit")

<script type="text/javascript">
    // Events
    $(document).ready(function () {
        $('#Example').remove();
        $('#Append').append(ePlusPostit)
    });

    $('#Append').on('click', '#Send', function () {
        var input = $('#Text');
        var text = input.val();
        input.val('');

        if (text != '') {
            $('.remove-line').remove();
            $('.p:last').append($((countLines == 0) ? '<h4></h4>' : '<p></p>').text(text).append(eRemoveLinePostit));

            count();

            if (countLines > 1)
                finishCard();
        }

        input.focus();
    });

    $('#SaveButton').click(function () {
        var result = validationsByJs();

        if (result == true){
            var idProject = $('.postit.active').children('input[name=IdProject]').val();

            var data = {
                'model': {
                    'IdProject': idProject
                },
                'page': '@page'
            };

            $.ajax({
                type: 'POST',
                url: '@urlSave',
                data: data,
                success: function (data) {
                    changeContent(data);
                }
            });
        }
        else
            $('.board-message')
                .text(result)
                .fadeIn();
    });

    // Functions
    function count() {
        countLines = $('.postit:last p, .postit:last h4').length;
    }

    function validationsByJs() {
        var countActive = $('.postit.active').length;

        if (countActive == 0)
            return 'Selecione um projeto para salvar!';

        return true;
    }

    function finishCard() {
        if (!$('.postit:last').hasClass('alert-dismissible')) 
            $('.postit:last').addClass('alert-dismissible').prepend(eRemovePostit);
        
        $('#Append').append(ePlusPostit);
        $('.postit:last .input-group').remove();
        $('.remove-line').remove();
    }
</script>