
@{
    ViewBag.Title = "FinalStep";
}

<h2>FinalStep</h2>

@Ajax.ActionLink("Ir para o BDD", "NextTutorial", "UserStory", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-primary" })
