@using TCC.UI.Helpers.Extensions
@using TCC.Domain.Entities

@{
    var user = TCC.BusinessLayer.BusinessLayers.BLUser<ETUserAdmin>.GetLogged();
}

<div class="main-header">
    <a href="javascript:void(0);" onclick="reloadPage()" class="logo">
        <span class="logo-mini"><i class="fa fa-gears"></i></span>
        <span class="logo-lg"><strong>EASY TEST</strong></span>
    </a>

    <div class="navbar navbar-static-top">
        <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle">
                        <span class="hidden-xs">@user.Name</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="logout()"><i class="fa fa-sign-out"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

@this.ScriptBlock(
    @<script type="text/javascript">
         function logout() {
             $.post("/Admin/Login/Logoff", function () {
                 reloadPage();
             });
         }
    </script>
)