@using TCC.Domain.Entities.Public.Security

@{
    var user = TCC.BusinessLayer.Security.BLUser<ETUserPublic>.GetLogged();
}

<div class="main-header">
    <a href="#" onclick="reloadPage()" class="logo">
        <span class="logo-mini"><strong>ET</strong></span>
        <span class="logo-lg"><strong>Easy</strong> Test</span>
    </a>

    <div class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @if (user == null)
                {
                    <li class="btn-nav">
                        <a data-toggle="modal" data-target="#ModalLogin"><i class="fa fa-sign-in"></i></a>
                    </li>
                }
                else
                {
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle">
                            <span class="hidden-xs">@user.Name</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#ModalLogoff"><i class="fa fa-sign-out"></i></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

