@model ETHistoric

@using TCC.Domain.Entities
@using TCC.BusinessLayer.BusinessLayers

@{
    var urlSave = "Learnboard/BDD/SaveHistoric";
    var page = "Page_1";
}

@Scripts.Render("~/Scripts/Postit")

<script type="text/javascript">
    function start() {
        $('#Example').remove();
        $('#Append').append(ePlusPostit);
    }

    function writeLine() {
        var input = $('#Text');
        var text = input.val();
        input.val('');

        if (text != '') {
            addLine(text)
        }

        input.focus();
    }


    function addLine(text) {
        $('.remove-line').remove();
        $('.lines:last').append($('<p></p>').text(text).append(eRemoveLinePostit));

        count();
        definePlaceholder();
    }

    function addLineWithoutRemove(text) {
        $('.lines:last').append($('<p></p>').text(text));

        count();
        definePlaceholder();
    }

    function sendToSave(event) {
        var result = validationsByJs();

        if (result == true) {

            var data = {
                'model': {
                    'Id': '@Model.Id',
                    'IdProject': '@Model.IdProject',
                    'CardActors': []
                },
                'page': '@page'
            };

            $('.postit', '#Append').each(function () {
                var cardLine = [];

                $(this).find('p').each(function () {
                    cardLine.push({ 'Line': $(this).text() });
                });

                data.model.CardActors.push({ 'IdHistoric': '@Model.Id', 'CardLines': cardLine });
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                url: '@urlSave',
                data: JSON.stringify(data),
                success: function (data) {
                    changeContent(data);
                }
            });
        }
        else
            $('.board-message')
                .text(result)
                .fadeIn();
    }

    function count() {
        countLines = $('.postit:last p').length;
    }

    function finishCard() {
        var lastPostit = $('.postit:last');

        if (!lastPostit.hasClass('alert-dismissible')) {
            lastPostit.addClass('alert-dismissible').prepend(eRemovePostit);
            lastPostit.removeClass('postit-send');
            appendIdCardActor(lastPostit);
        }

        $('#Append').append(ePlusPostit);
        $('.postit:last .input-group').remove();
        $('.remove-line').remove();
    }

    function appendPostit(element) {
        var result = validationsToAppendPostit();

        if (result == true) {
            element.parent().remove();
            $('#Append').append(ePostit);

            $('#Text').focus();
        }
        else
            writeMessage(result);
    }

    function validationsToAppendPostit() {
        var countActive = $('.postit.active').length;

        if (countActive == 0)
            return 'Selecione um User Story para adicionar um cartão!';

        return true;
    }

    function removePostit(element) {
        element.closest('.to-remove').remove();
    }

    function removeLine(element) {
        element.parent('p').remove();
        count();
        definePlaceholder();

        $('.postit:last p:last').append(eRemoveLinePostit);
    }

    function definePlaceholder() {
        var input = $('#Text');

        switch (parseInt(countLines)) {
            case 0:
                input.attr("placeholder", "eu como...");
                break;
            case 1:
                input.attr("placeholder", "quero...");
                break;
            case 2:
                input.attr("placeholder", "para...");
                break;
        }
    }

    $('#UserStories').on('click', '.postit.select', function () {
        hideMessage();

        //actorSelected = {
        //    'Id': $(this).children('#Id').val(),
        //    'Text': $(this).children('p').text()
        //}

        $('#Actors .postit.select').removeClass('active');
        $(this).addClass('active');
    });
</script>