@using TCC.Domain.Entities

@{
    var projects = (List<ETProject>)ViewData["Projects"];
}

<div class="content-header">
    <h1>
        Escolha de Projeto
    </h1>
    <div class="breadcrumb">
        @Ajax.ActionLink("Voltar", "Index", "Content/Index", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-warning" })
        @Ajax.ActionLink("Continuar", "Page_1", "BDD", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-primary", @id = "btnContinuar" })
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="col-lg-12">
                <div>
                    <h4>Para iniciarmos o tutorial do Behavior Driven Development (BDD) é necessario a escolha de algum projeto para o ensino.<br>Ou se quiser você pode escolher seu próprio projeto, caso tenha cadastrado na primeira etapa do User Story.</h4>
                    <p>Selecione algum projeto abaixo:</p>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="board">
                <div class="row" id="Append">
                    @foreach (var item in projects)
                    {
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <div class="alert postit select">
                                <h4>@item.Title</h4>
                                <p>@item.Text</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnContinuar').attr('disabled','disabled');
        });

        $('.callout').click(function () {
            $('.callout').removeClass('active');
            $(this).addClass('active');
            $('#btnContinuar').removeAttr('disabled');
        });
    </script>
}