@{
    ViewBag.Title = "Início";
}

<div class="content-header">
    <h1>@ViewBag.Title</h1>
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a>
        </li>
    </ul>
</div>
<div class="content">
    <h2>Bem-vindo aos <strong>Test Tutorials</strong></h2>

    <p>
        Nossa plataforma é voltada a mostrar tutoriais de todas as metodologias e tecnicas voltadas para <strong>testes de Front-End</strong>, de modo mais interativo.
    </p>
    <p>
        Você pode fazer os tutoriais mesmo sem criar uma conta, mas o seu progresso <strong>expirará em 2 dias</strong> sem usar o site.
    </p>
    <br>
    <div class="row">
        <div class="col-lg-1">
            <input type="button" class="btn btn-block btn-primary" value="Login" />
        </div>
        <div class="col-lg-1">
            <input type="button" class="btn btn-block btn-warning" value="Criar Conta" />
        </div>
    </div>

</div>
