.main-header .navbar-static-top .btn-top {
    margin: 8px;
}

.login .modal-dialog {
    width: 400px;
}

.login .modal-header {
    background-color: #3c8dbc;
    color: #ffffff;
}

.content-header > .breadcrumb {
    padding: 0px 5px;
}