.main-header .navbar-static-top .btn-top {
    margin: 8px;
}

.login .modal-dialog {
    width: 400px;
}

.login .modal-header {
    background-color: #3c8dbc;
    color: #ffffff;
}

.content-header > .breadcrumb {
    padding: 0px 5px;
}

img.loading {
    position: relative;
    display: block;
    margin: 150px auto auto auto;
    width: 50%;
    max-width: 150px;
    z-index: 2000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay.background-loading {
    background-color: #000;
    opacity: 0.8;
    z-index: 1090;
}