@{
    ViewBag.Title = "Home Administrativo";
}

<div class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a>
        </li>
    </ul>
</div>
<div class="content">

</div>