
<div class="main-header">
    <a href="index2.html" class="logo">
        <span class="logo-mini"><strong>TT</strong></span>
        <span class="logo-lg"><strong>Test</strong> Tutorials</span>
    </a>
    <div class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="btn-nav">
                    <input type="button" class="btn btn-outline btn-top" data-toggle="modal" data-target="#ModalLogin" value="Entrar">
                </li>
            </ul>
        </div>
    </div>
</div>