@model List<TCC.Domain.Entities.ETMenuItem>

<div class="content-header">
</div>
<div class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"><i class="fa fa-hand-stop-o text-yellow"></i></h2>

        <div class="error-content">
            <h2><strong>Oops! Espera um pouco...</strong></h2>
            <h4>
                Para fazer esse tutorial, você precisa completar os tutoriais listados abaixo:
            </h4>
            @foreach (var item in Model)
            {
                <p>
                    <a href="javascript:void(0);" onclick="newPage(@item.Id, 'Learnboard/Content/Index')">@item.Title</a>
                </p>
            }
        </div>
    </div>
</div>