@model List<TCC.Domain.Entities.Admin.ETMenuItem>

<style>
    .error-page p {
        font-size: 16px;
    }
</style>

<div class="content-header">
</div>
<div class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"><i class="fa fa-hand-stop-o text-yellow"></i></h2>

        <div class="error-content">
            <h2><strong>Oops! Espera um pouco...</strong></h2>
            <p>
                Para fazer esse tutorial, você precisa completar os tutoriais abaixo:
                @foreach (var item in Model)
                {
                    <a>@item.Title;</a>
                }
            </p>
            <p>
                E seja <strong>bem-vindo</strong>.
            </p>
        </div>
    </div>
</div>